.Timer-count span {
  background-color: var(--main-color-one);
  color: var(--bg-site);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin-left: 0.8rem;
  font-size: 1.2rem;
}
.Timernotbag span {
  background-color: transparent !important;
  color: var(--main-color-one);
  padding: 0.5rem 0.5rem !important;
}
