.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  margin-top: 2rem;
}
.about div {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.about div svg {
  margin-left: 0.6rem;
  font-size: 3rem;
}
