@media screen and (min-width: 360px) {
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6rem;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem 1.6rem;
  }
  .basket-nav {
    display: flex;
    align-items: center;
  }
  .basket-nav button {
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: transparent;
    width: 145px;
    border: 1px solid #b8b5b5;
    border-radius: 8px;
  }
  .basket-nav button span {
    background-color: var(--main-color-one);
    color: white;
    border-radius: 80%;
    height: 100%;
    width: 18%;
    margin-right: 0.4rem;
  }
  .basket-nav button svg {
    margin-left: 0.5rem;
  }
  .search-nav {
    display: none;
  }
  .mega-tab {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-color-one);
    color: var(--bs-light);
  }
  .mega-tab svg {
    margin-left: 0.5rem;
  }
  /* basket */
  .basket-btn-add {
    position: "relative";
  }
  .basket-style {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    color: var(--bs-gray-700);
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    height: 300vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    overflow: scroll;
  }
  .nothing-img-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .basket-style img {
    width: 150px;
    background-color: transparent;
  }
  .userinfo-basket {
    display: flex;
    margin-top: 2rem;
  }
  .info-basketstyle div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .userinfo-price h4 {
    color: var(--main-color-one);
  }
  .remove-basket button {
    color: var(--main-color-one);
    border: none;
    padding: 0.3rem;
    border-radius: 6px;
  }
  .close-basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close-basket button {
    color: var(--bs-gray-700);
    border: none;
    padding: 0.4rem;
    border-radius: 8px;
  }
  .not-basket {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .search-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  .search-nav input {
    padding: 7px;
    font-size: 16px;
    border: 1px solid #b8b5b5;
    border-radius: 4px;
    margin-left: 10px;
    width: 250px;
    border-radius: 8px;
    outline: none;
  }
  .search-nav input::placeholder {
    font-size: 0.8rem;
  }
  .basket-btn-add {
    position: "relative";
  }
  .basket-style {
    width: 30%;
    height: 100vh;
  }
}
