.information {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.6rem;
}
.video-information {
  border-radius: 12px;
  margin-left: 1.5rem;
}
.information h2,
.information p {
  margin-bottom: 2rem;
}
.information-button {
  display: flex;
}
.information-button button {
  margin-left: 1rem;
}
