@media screen and (min-width: 360px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1.6rem;
    gap: 2rem;
    margin-top: -1rem;
  }

  .Banner-1,
  .Banner-2 {
    width: 100%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 760px) {
  .banner {
    display: flex;
  }
}
